# === Terraform ===
# Local subdirectories and lock files
.terraform/
.terraform.lock.hcl

# State files
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfvars

# === Binaries & Large Files ===
images/*

# The libvirt provider binary
.terraform/*

# === Ansible ===
# If you use retry files
/ansible/*
*.retry

# === OS & IDE ===
.DS_Store
.vscode/
