#cloud-config
hostname: ${hostname}
fqdn: ${fqdn}

bootcmd:
  - [ sh, -c, 'echo "GRUB_TERMINAL=\"serial console\"" >> /etc/default/grub' ]
  - [ update-grub ]

users:
  - name: ${username}
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false
    passwd: ${password} 
    ssh_authorized_keys:
      - ${sshkey}

packages:
  - qemu-guest-agent

runcmd:
  - [ systemctl, enable, --now, qemu-guest-agent ]